<nav class="aside">
    <ul class="nav">
	    <!-- <li class="active"><a href="/admin">Accueil</a></li> -->
	    {{#each menu}}
            {{#if this.sub}}
                <!--       lien toogle         -->
               <li><a href="#" id="btn-menu-{{@key}}" data-toggle="collapse" data-target="#submenu-{{@key}}" aria-expanded="false">{{this.name}} !</a>
               <ul class="nav collapse" id="submenu-{{@key}}" role="menu" aria-labelledby="btn-menu-{{@key}}">
                {{#each this.sub}}
                    <li class=""><a href="{{this.url}}">{{this.name}}</a></li>
                {{/each}}
                </ul>
                </li>
            {{else}}
                <!--      lien pas toogle          -->
                <li class=""><a href="{{this.url}}">{{this.name}}</a></li>
            {{/if}}
        {{/each}}
        <li class=""><a href="/user/logout">Déconnexion</a></li>
	</ul>
</nav>
