<template>
  <div>
    <h2>Nouveaux Noeud</h2>
    <span>Titre</span>
    <br>
    <input type="text" name="title" v-model="page.title" id="pageTitle">
    <br>
    <br>
    <span>Contenu </span>
    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
    <br>
    <button @click="update">Mettre à jour</button>
  </div>
</template>
<script>
  import Layout from "@/layouts/Admin"
  import Vue from 'vue';
  import CKEditor from '@ckeditor/ckeditor5-vue';
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  Vue.use(CKEditor);

  export default {
    name: 'modifyNode',
    props: {
      name: {
        type: String
      }
    },
    data() {
      return {
        page: {},
        editor: ClassicEditor,
        editorData: '',
        editorConfig: {
          // The configuration of the editor.
        }
      }
    },
    created() {
      this.$emit('update:layout', Layout);

      $http({
          method: "GET",
          url: "/nodes/" + this.name
        }

      ).then(resp => {
          console.log(resp);
          this.page = resp.data
          this.title = this.page.title
          this.editorData = this.page.content
        }

      ).catch(err => {
          console.log(err);
        }

      )
    }

    ,
    methods: {
      update: function () {
        $http({
            url: '/nodes/'+this.page._id,
            method: 'PUT',
            data: {
              title: this.title,
              content: this.editorData,
              author: "sev"
            }
          })
          .then(resp => {
            console.log("noeud modifier");

          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  }

</script>
<style lang="scss" scoped>

</style>
