<template>
  <div>
    <div>
      {{page.content}}

    </div>
  </div>
</template>
<script>
  import Layout from "@/layouts/Default"
  export default {
    name: "readPage",
    props: {
      name: {
        type: String
      }
    },
    data: function () {
      return {
        //name: "",
        page: {}
      }
    },
    created: function () {
      this.$emit('update:layout', Layout);
      $http({
        url: '/nodes/' + this.name,
        method: 'GET',
      }).then(resp => {
        console.log(resp);
        this.page = resp.data
      }).catch(err => {
        console.log(err);
      })
    }
  }

</script>
<style></style>
