<!DOCTYPE html>
<html lang="fr">

<head>
    {{> partials/head}}
</head>

<body>

    {{> partials/header}}


    <div class="body">
        {{> partials/menuAdmin}}
        {{{body}}}
    </div>

    {{> partials/footer}}
</body>

</html>