<template>
  <div class="body">
    <Header />
    <div class="wrapper">
      <Navigation />
      <div class="content">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
  import '@/styles/admin.scss'
  import Header from '@/components/admin/Header'
  import Navigation from '@/components/admin/Navigation'
  export default {
    name: 'admin-layout',
    components: {
      Header,
      Navigation
    },
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  html,
  body {
    margin: 0px;
    height: 100%;
  }

  #app {
    height: 100%;
  }

  .body {
    height: 100%;
    overflow: hidden;
  }

  .wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 25px);
  }

  .content {

    flex-grow: 1;
    overflow: auto;
    margin: 20px;
  }

</style>
