<template>
  <div>
    <h2>Nouvelle page</h2>
    <span>Titre </span><br>
    <input type="text" name="title" v-model="title" id="pageTitle"><br><br>
    <span>Contenu </span>
    <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
    <br>
    <button id="add" @click="add">Ajouter</button>
  </div>
</template>

<script>
  import Layout from "@/layouts/Admin"
  import Vue from 'vue';
  import CKEditor from '@ckeditor/ckeditor5-vue';
  import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

  Vue.use(CKEditor);

  export default {
    name: 'CreatePage',
    data() {
      return {
        title: "",
        editor: ClassicEditor,
        editorData: '',
        editorConfig: {
          // The configuration of the editor.
        }
      };
    },
    created() {
      this.$emit('update:layout', Layout);

    },
    methods: {
      add: function () {
        $http({
            url: '/pages',
            method: 'post',
            data: {
              title: this.title,
              content: this.editorData,
              author: "sev"
            }
          })
          .then(resp => {
            console.log("page ajouter");

          })
          .catch(err => {
            console.log(err);
          });
          this.$router.push("/admin/pages")
      }
    }
  }

</script>

<style lang="scss" scoped>

</style>
