<template>
  <div>
    <h2>Liste des Pages</h2>
    <button @click="create">Créer</button>
    <button @click="refresh">Rafraichir</button>
    <div v-for="page in pages" :key="page._id">
      <div>
        <div class="card">
          <h3>{{ page.title }}</h3>
          <p>{{ page.name }}</p>
          <p>Créer par: {{ page.author }}</p>
          <p>{{ page.creationDate }}</p>
          <button @click="edit(page.name)">Editer</button>
          <button @click="remove(page._id)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Layout from "@/layouts/Admin"
  export default {
    name: 'ListPages',
    data() {
      return {
        loading: false,
        pages: []
      }
    },
    created: function () {
      this.$emit('update:layout', Layout);
      this.showList();
    },
    methods: {
      create: function () {
        this.$router.push("/admin/pages/create")
      },
      showList: function () {
        $http({
            url: '/pages',
            method: 'GET'
          })
          .then(resp => {
            console.log(resp);
            this.pages = resp.data
          })
          .catch(err => {
            console.log(err);
          })
      },
      refresh: function () {
        this.showList();
      },
      edit: function (id) {
        this.$router.push("/admin/pages/modify/" + id)
      },
      remove: function (id) {
        $http({
            url: '/pages/' + id,
            method: 'DELETE'
          })
          .then(resp => {
            console.log("page supprimer");
            this.showList();
          })
          .catch(err => {
            console.log(err);
          });

      }
    }
  }

</script>

<style lang="scss" scoped>
  .card {
    background-color: rgb(233, 232, 232);
    padding: 10px;
    margin: 10px 0px;
  }

</style>
