<template>
  <div class="content">
    <h2>admin panel test</h2>
    <button id="fontSize-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-fontSize-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome fr-selection" data-cmd="fontSize">
    <i class="fa fa-text-height" aria-hidden="true"></i>
    <span class="fr-sr-only">Taille de police</span>
</button>
  </div>
</template>

<script>
  import Layout from "@/layouts/Admin"
  export default {
    name: 'Admin',
    created() {
      this.$emit('update:layout', Layout);
      
    }
  }

</script>

<style lang="scss" scoped>
  .content {
    background-color: #f1ecec;
    flex-grow: 1;
    overflow: auto;
  }

</style>
