<template>
  <header>
    <ul>
      <li><a href="http://www.jcms.fr/"><img height="25" src="@/assets/icon-js.png" alt="Icone JCMS"></a></li>
      <router-link :to="{ path: '/' }">Mon super site pour tester</router-link>
    </ul>
    <a>Administration</a>
    <ul>
      <li><a href=""><img height="25" src="@/assets/icon-notif.png" alt="Icone JCMS"></a></li>
      <li><a href="">Tarzan79</a></li>
      <li>
        <router-link :to="{ path: '/' }"><img height="25" src="@/assets/icon-user.png" alt="Icone JCMS"></router-link>
      </li>
    </ul>
  </header>
</template>

<style lang="scss" scoped>
  header {
    height: 25px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #f1b3b3;

    :first-child {
      text-align: left;
    }

    :last-child {
      text-align: right;
    }

    ul {
      list-style: none;
      flex: 0 0 20%;
      margin: 0px;
      height: 100%;

      li {
        vertical-align: top;
        display: inline-block;
      }
    }
  }

</style>

<script>
  import Navigation from '@/components/admin/Navigation'
  export default {
    name: 'AdminHeader',
    components: {
      "Navigation": Navigation
    }
  }

</script>
