<template>
  <sidebar-menu :menu="menu" :width="width" :collapsed="collapsed" :show-one-child="true" />
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .v-sidebar-menu {
    position: relative;
    height: 100%;
  }

</style>

<script>
  import Vue from 'vue'
  import VueSidebarMenu from 'vue-sidebar-menu'
  import 'vue-sidebar-menu/dist/vue-sidebar-menu.css'

  Vue.use(VueSidebarMenu)
  import router from '@/router/index'
  export default {
    name: 'AdminNavigation',

    data() {
      return {
        menu: [{
            header: true,
            title: 'Menu',
            // component: componentName
            // visibleOnCollapse: true
          },
          {
            href: '/admin',
            title: 'Acceuil',
            icon: 'fa fa-user'
          },
          {
            //href: '/admin/pages',
            title: 'Pages',
            icon: 'fa fa-file',
            child: [{
              href: '/admin/pages',
              title: 'Liste des pages',
              icon: 'fa fa-th-list'
            }, {
              href: '/admin/pages/create',
              title: 'Nouvelle Page',
              icon: 'fa fa-plus-circle'
            }, {
              href: '/admin/pages/create',
              title: 'Configurer',
              icon: 'fa fa-plus-circle'
            }]
          },
          {
            href: '/admin/nodes',
            title: 'Noeuds',
            icon: 'fa fa-cog',
            child: [{
              href: '/admin/nodes',
              title: 'Liste des Noeuds',
              icon: 'fa fa-th-list'
            }, {
              href: '/admin/nodes/create',
              title: 'Nouveaux Noeud',
              icon: 'fa fa-plus-circle'
            }, {
              href: '/admin/nodes/create',
              title: 'Configurer',
              icon: 'fa fa-plus-circle'
            }]
          },
          {
            //href: '/admin/pages',
            title: 'Apparence',
            icon: 'fa fa-file',
            child: [{
                href: '/admin/pages',
                title: 'Themes',
                icon: 'fa fa-th-list'
              },
              {
                href: '/admin/pages/create',
                title: 'Menu',
                icon: 'fa fa-plus-circle'
              }
            ]
          },
          {
            //href: '/admin/pages',
            title: 'plugins',
            icon: 'fa fa-file',
            child: [{
                href: '/admin/pages',
                title: 'Liste',
                icon: 'fa fa-th-list'
              },
              {
                href: '/admin/pages/create',
                title: 'Configurer',
                icon: 'fa fa-plus-circle'
              }
            ]
          },
          {
            //href: '/admin/pages',
            title: 'Réglages',
            icon: 'fa fa-file',
            child: [{
                href: '/admin/pages',
                title: 'Général',
                icon: 'fa fa-th-list'
              },
              {
                href: '/admin/pages/create',
                title: 'Base de donnée',
                icon: 'fa fa-plus-circle'
              }
            ]
          }
        ],
        width: "180px",
        collapsed: false,
        themes: ['', 'white-theme'],
        selectedTheme: 'white-theme'
      }
    }
  }

</script>
