<template>
  <div>
    <form class="login" @submit.prevent="login">
      <h1>S'inscrire</h1>
      <label>Pseudo</label>
      <input required v-model="username" type="text" placeholder="Pseudo" />
      <label>Mail</label>
      <input required v-model="email" type="text" placeholder="E-Mail" />
      <label>Mot de passe</label>
      <input required v-model="password" type="password" placeholder="Password" />
      <label>Confirmation</label>
      <input required v-model="confirmation" type="password" placeholder="Confirmer" />
      <button type="submit">Login</button>
    </form>
  </div>
</template>

<script>
import Layout from "@/layouts/Default"

  export default {
    created: function () {
      this.$emit('update:layout', Layout);
    },
    name: 'Subscribe',
    data() {
      return {
        username: "",
        email: "",
        password: "",
        confirmation: ""
      }
    },
    methods: {
      register: function () {
        let data = {
          name: this.name,
          email: this.email,
          password: this.password,
          is_admin: this.is_admin
        }
        this.$store.dispatch('register', data)
       .then(() => this.$router.push('/'))
       .catch(err => console.log(err))
      }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  form{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;

    a{
      margin-left: 20px;
    }

  }
</style>
