<section class="content">
    <h2>S'inscrire</h2><br>
    <form action="signup" method="POST">
        <fieldset>
            <label for="name">Pseudo: <input name="username" type="text"></label>
            <label for="email">Mail: <input name="email" type="text"></label>
            <label for="password">Mot de passe: <input name="password" type="text"></label>
            <label for="confirm">Confirmation: <input name="confirm" type="text"></label>
            <input type="submit" value="Valider">
        </fieldset>
    </form>
</section>