<form action="signin" method="POST">
    <label for="email">Pseudo: <input name="email" type="text"></label>
    <label for="password">Mot de passe: <input name="password" type="text"></label>
    <input type="submit" value="Valider">
</form>
<a href="signup">Créer un compte</a>
