<template>
  <div id="page">
    tete
  </div>
</template>

<script>
  import Layout from "@/layouts/Default"
  export default {
    name: "IndexPage",
    created() {
      this.$emit('update:layout', Layout);
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  h1,
  h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

</style>
