<template>
  <div>
    <h2>La page demandé n'a pas été trouvé ou n'éxiste pas</h2>

  </div>
</template>

<script>
  import Layout from "@/layouts/Default"
  export default {
    name: "error",
    created() {
      this.$emit('update:layout', Layout);
    }
  }

</script>
