<template>
  <ul>
    <li v-for="items in list" :key="items.id">
      {{}}
    </li>
  </ul>
</template>

<script>
  export default {
    name: "List",
    data: {
      return () {
        list: []
      }
    },
    method: {
        getData() {
            
        }
    }
  }

</script>

<style>

</style>
